<form class="col-md-4 mx-auto mt-5 border  p-5" action="/admin/updatePlan/{{membershipPlan._id}}" method="post">
    <h1 class="text-center">Edit Plan details</h1>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Plan name</label>
        <input type="text" id="form1Example1" class="form-control" name="plan" value="{{membershipPlan.plan}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Registration fee</label>
        <input type="text" id="form1Example1" class="form-control" name="registrationFee" value="{{membershipPlan.registrationFee}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">caution deposit</label>
        <input type="text" id="form1Example1" class="form-control" name="cautionDeposit" value="{{membershipPlan.cautionDeposit}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Membership Fee</label>
        <input type="text" id="form1Example1" class="form-control" name="membershipFee" value="{{membershipPlan.membershipFee}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">per delivery limit</label>
        <input type="text" id="form1Example1" class="form-control" name="perDeliveryLimit" value="{{membershipPlan.perDeliveryLimit}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">holding limit</label>
        <input type="text" id="form1Example1" class="form-control" name="holdingLimit" value="{{membershipPlan.holdingLimit}}" required/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Plan duration in month</label>
        <input type="text" id="form1Example1" class="form-control" name="planDuration" value="{{membershipPlan.planDuration}}" required/>
    </div>




    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block col-4 mx-auto">update plan</button>
</form>